## STEP 1 -  Get data and clean it

In [145]:
import pandas as pd

df_orig = pd.read_table('train_tweets.txt',names=('id','rtweet'))

/Users/saransh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [146]:
def cleanData(text):
    removeList = ["@handle","@handle:"]
    text_r = " ".join([char for char in text.split(' ') if char not in removeList]) 
    return text_r

df_orig['tweet'] = df_orig['rtweet'].apply(lambda x: cleanData(x))

In [147]:
#TODO : remove links
df_orig.head()

,id,rtweet,tweet
0,8746,@handle Let's try and catch up live next week!,Let's try and catch up live next week!
1,8746,Going to watch Grey's on the big screen - Thur...,Going to watch Grey's on the big screen - Thur...
2,8746,@handle My pleasure Patrick....hope you are well!,My pleasure Patrick....hope you are well!
3,8746,@handle Hi there! Been traveling a lot and lot...,Hi there! Been traveling a lot and lots more t...
4,8746,RT @handle Looking to Drink Clean & Go Green? ...,RT Looking to Drink Clean & Go Green? Purchase...

In [148]:
import re

def removeHyperLink(text):
    text = re.sub(r'http?:\/\/.*[\r\n]*', '', text, flags=re.MULTILINE)
    return(text)

def countSpChar(text):
    new = re.sub('[@_!#$%^&*()<>?/\|}{~:\']' ,'', text)
    count = len(text) - len(new)
    return count
    
def removeSpChar(text):
    new = re.sub('[@_!#$%^&*()<>?/\|}{~:\']' ,'', text)
    return new

df_orig['tweet'] = df_orig['tweet'].apply(lambda x: removeHyperLink(x))
df_orig['spCount'] = df_orig['tweet'].apply(lambda x: countSpChar(x))
df_orig['hastags'] = df_orig['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
df_orig['tweet'] = df_orig['tweet'].apply(lambda x: removeSpChar(x))
df_orig['word_count'] = df_orig['tweet'].apply(lambda x: len(str(x).split(" ")))
df_orig['char_count'] = df_orig['tweet'].str.len()
df_orig['isCapitalize'] = df_orig['tweet'].apply(lambda x: len([x for x in x.split() if x[0].isupper()]))
df_orig['tweet'] = df_orig['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))

df_orig.tail()

,id,rtweet,tweet,spCount,hastags,word_count,char_count,isCapitalize
328190,4357,Steelbox Demonstrates Open Video Framework wit...,steelbox demonstrates open video framework wit...,0,0,13,102,10
328191,4357,Small Businesses Rely on Sage to Help Them Rid...,small businesses rely on sage to help them rid...,0,0,13,66,9
328192,4357,TimeSight Systems™ Announces Next-Generation P...,timesight systems™ announces next-generation p...,0,0,12,98,9
328193,4357,Diebold Makes Its Leading Monitoring Solutions...,diebold makes its leading monitoring solutions...,0,0,10,68,8
328194,4357,GVI Security Solutions to Introduce AutoIP™ VM...,gvi security solutions to introduce autoip™ vm...,0,0,15,98,11

In [152]:
df_output = df_orig.drop(columns=["rtweet","tweet"])
df_output.to_csv("features.csv")